## 1. 문자, 숫자 자료형

### 1-1.숫자형 자료 형태와 연산

###### 정수형  : 123, 0, -24
###### 실수형  : 3.5 , 2.4e10
###### 8진수 : 0034, 0o25
###### 16진수 : 0x2A, 0xFF

In [2]:
2+5

7

###### 사칙연산은 각각 +,-,/,* 기호 활용해서 연산 가능

In [4]:
2**5 #제곱의 경우 곱셈기호 두번

32

In [5]:
7 % 3 #7을 3으로 나눈 나머지를 반환

1

In [6]:
7//3 #7을 3으로 나눈 몫을 반환

2

### 1-2.문자형 자료 표현 방식과 연산

###### 문자형 자료는 일반적으로 스트링(String) 이라는 이름으로 불림
###### 큰/작은 따옴표 한 쌍을 활용해 표현가능

In [8]:
print("Goodbye World")

Goodbye World

In [10]:
print("he said 'Python is difficult.'") # 인용문처럼 문자열에 따옴표를 넣고싶다면 표현으로 쓰인 따옴표와 다른 형태의 따옴표를 활용한다.
                                        # 혹은 백슬래시(Escape code)를 활용해 어퍼스트로피 표현 가능

he said 'Python is difficult.'

In [12]:
print("줄을 마치 비와\n이랩하\n듯이끊\n기") # \n(백슬래시+n)은 newline을 의미함. 유용하게 활용되니 기억할 것!

줄을 마치 비와
이랩하
듯이끊
기

In [13]:
print("종강"*10) # 하나의 문자열을 이렇게 여러번 표현 가능

종강종강종강종강종강종강종강종강종강종강

In [17]:
a='아기다리고기다리던종강' # 이렇게 []를 활용해 인덱싱(Indexing)을 사용해 문자열에 할당된 위치 정보를 사용해 필요한 문자열만 뽑아낼 수 있다.
print(a[4:6])              # 문자열 슬라이싱(Slicing)은 이렇게 인덱싱을 통해 찾아낸 문자열을 변수에 담거나 부분을 표현하는것을 말함.
print(a[-2:])

고기
종강

In [24]:
k=31
print('이번 달의 마지막 날은 %d일 입니다'% k) # %를 활용해 서로 다른 형태(문자열, 숫자형)를 표현할 수 있다.
                                              # 이렇게 표현하는 것을 포매팅(Formatting)이라고 한다.
                                              # 포매팅 연산자가 %이므로, %를 문자로 표현하고 싶다면 %%라고 사용해야 한다.

이번 달의 마지막 날은 31일 입니다

In [50]:
print('%20s' % '김병지')                                     # 이렇게 포매팅으로 위치를 조정할 수 있다.
print('%-15s%15s' % ('콰레스마','이청용'))                   # -가 붙으면 좌측, +인 채면 우측정렬이라고 생각하면 된다.
print('%10s%12s' % ('트레제게','하그리브스'))                # %s는 문자형 / %d 는 정수형 / %f 는 실수형 데이터를 표현할 수 있다.
print('%s%8s%10s%12s'%('콘체스키','붐송','카','차두리'))
print('%20s'%('수아레즈'))

                 김병지
콰레스마                       이청용
      트레제게       하그리브스
콘체스키      붐송         카         차두리
                수아레즈

In [1]:
a='sjsos'                 # .join 메소드는 join의 인자가 되는 문자열의 문자 사이에 join 메소드의 대상이 되는 문자열을 삽입함.
a.join('3234')

'3sjsos2sjsos3sjsos4'

In [3]:
k='ho                '    # strip() 메소드는 대상이 되는 문자열에 있는 공백을 제거하는 메소드. 공백 위치에 따라 lstrip / rstrip 사용
k.strip()

'ho'

In [4]:
a ='Sarm is too short'
a.replace("Sarm", "Only your life")         # replace메소드는 replace("찾는 문자열","바꿀 문자열")로 사용한다.

'Only your life is too short'

In [6]:
ssdsd = 'a b c d e f g'                     # 문자열을 분해하여 리스트 형태의 데이터로 만드는 방법
ssdsd.split(sep=",")                        # sep 인자를 추가하여 문자열을 분해할 기준을 설정할 수 있음

['a b c d e f g']

In [7]:
"나는 어제 {0}개의 사과를 먹다가 체해서 {day}일 동안 앓아 누웠다가 평생 누워버렸다".format(21,day=3)

'나는 어제 21개의 사과를 먹다가 체해서 3일 동안 앓아 누웠다가 평생 누워버렸다'

In [20]:
print("{0:^35}".format("김병지"))
print("{0:<15}".format("콰레스마"),"{0:>15}".format("이청용"))

                김병지
콰레스마                        이청용

## 2. 복수 요소 자료형(리스트, 딕셔너리...)

### 2-1. 리스트 인덱싱, 슬라이싱, 연산과 요소 추가, 삭제에 관한 메소드들

In [30]:
klist =[[2,4,5],['good','god'],2]
print(klist)

[[2, 4, 5], ['good', 'god'], 2]

In [31]:
klist[0]

[2, 4, 5]

In [34]:
klist[1][1]

'god'

In [38]:
klist[:2]

[[2, 4, 5], ['good', 'god']]

In [39]:
klist[2:]

[2]

In [40]:
klist=[1,2,3]
flist=[4,5,6]

In [41]:
klist+flist

[1, 2, 3, 4, 5, 6]

In [42]:
klist*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
del klist[0] # -> kilst=[1,2,3] 임.

In [45]:
klist

[2, 3]

In [46]:
klist.append([3,7,3,71])

In [47]:
klist

[2, 3, [3, 7, 3, 71]]

In [50]:
klist[2].sort()

In [51]:
klist[2]

[3, 3, 7, 71]

In [52]:
klist[2].reverse()

In [53]:
klist

[2, 3, [71, 7, 3, 3]]

In [54]:
klist.insert(1,[3,4,1]) # insert(인덱스, 넣을 엘레멘트)

In [55]:
klist

[2, [3, 4, 1], 3, [71, 7, 3, 3]]

In [56]:
klist.pop()

[71, 7, 3, 3]

In [57]:
klist.extend([2,15,7,8,1])

In [58]:
klist

[2, [3, 4, 1], 3, 2, 15, 7, 8, 1]

In [60]:
klist.count(2)

2

In [61]:
s = klist[:]

In [68]:
s={2,1,4,1,5}

In [69]:
s

{1, 2, 4, 5}

In [70]:
sorted(s)

[1, 2, 4, 5]

### 2-2.튜플

#### 튜플 자료형은 자료들을 동결(freeze)하기에 좋은 자료형태다. 튜플 자체의 최신화는 가능하지만, 튜플 내 자료의 삭제, 추가가 불가능하다

In [71]:
t1=(1,3,5)

In [77]:
t1.index(3)

1

In [78]:
t1[0]

1

In [79]:
t1=(1,2,3,4,5)

In [80]:
b=('a','b','c')

In [81]:
t1+b

(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [83]:
t1.append('3')

AttributeError: 'tuple' object has no attribute 'append'

### 2-3. 딕셔너리

#### 딕셔너리 자료형은 key 값과 value 값으로 구분해 저장하는 자료형태

In [84]:
d1={1:'a',2:'b',3:'c'} # key 값에는 리스트 형태의 자료가 들어갈 수 없다.

In [85]:
d1.get(2)

'b'

In [86]:
d1={(1,2):'a'}

In [91]:
d1.get((1,2))         # Key를 통해 Value값 호출

'a'

In [92]:
d1={1:'a',2:'b',3:'c'}

In [93]:
del d1[1]             # 딕셔너리에 key와 value 쌍 삭제

In [94]:
d1

{2: 'b', 3: 'c'}

In [95]:
d1[1]='d'              # 딕셔너리에 key와 value 추가

In [96]:
d1

{1: 'd', 2: 'b', 3: 'c'}

In [98]:
d1.keys()                                          # 리스트 형태로 반환하는 것처럼 보이지만 리스트 연산자, 메소드는 사용불가

dict_keys([2, 3, 1])

In [101]:
d1.keys().append(4:'g')

SyntaxError: invalid syntax (<ipython-input-101-ec378b04fccd>, line 1)

In [99]:
d1.values()

dict_values(['b', 'c', 'd'])

In [100]:
d1.items()

dict_items([(2, 'b'), (3, 'c'), (1, 'd')])

### 2-4. 집합자료형(set)

#### 집합자료형(set) 형태의 자료는 요소 중복을 제거하고, 요소 간 순서에 따라 정렬된 형태의 자료를 제공한다.

In [102]:
s1=set([3,5,6,1,1,15,5,2,1,3,3,3])

In [103]:
s1

{1, 2, 3, 5, 6, 15}

In [104]:
s2={1,4,6,2,7,7,65,3,2,4,6,7,9,9}

In [105]:
s1 & s2               # s1과 s2의 교집합

{1, 2, 3, 6}

In [106]:
s1 | s2               # s1과 s2의 합집합

{1, 2, 3, 4, 5, 6, 7, 9, 15, 65}

In [107]:
s1 - s2               # s1과 s2의 차집합

{5, 15}

In [108]:
s1.add(4)

In [109]:
s1

{1, 2, 3, 4, 5, 6, 15}

In [110]:
s1.update('가','나','다')

In [111]:
s1

{'나', 1, 2, 3, 4, 5, 6, '가', 15, '다'}

In [112]:
s1.remove('나')

In [113]:
s1

{1, 2, 3, 4, 5, 6, '가', 15, '다'}

### 2-5. 자료형 참과 거짓

#### 자료형이 int인지, str인지, 변수가 비어있는지 아닌지, 자료형에 요소가 담겨있는지 아닌지, 대문자인지 소문자인지 등
#### 자료의 상태에 대해 구분해주는 형태로 참/거짓 (True / False) 을 표현하는 자료형이다.

In [114]:
tr=True

In [115]:
type(tr)

bool

In [116]:
tr=2

In [117]:
type(tr)

int

In [118]:
string = 'strinG'

In [121]:
string.isupper()          # isupper() 메소드는 대상인 문자열이 모두 대문자로 이뤄진 것인지 판별해서 참 / 거짓 값을 반환한다.

False

In [120]:
type(string.isupper())

bool

In [122]:
if string.isupper() ==True:
    print('print')
else:
    print('UPPER')

UPPER

#### string.isupper()이 반환하는 값이 False 값이기 때문에 조건문이 else 이하를 수행하게 된다.