### Data Preprocessing - 유사 단어 골라 통일시키기

- 유사단어들을 골라서 통일시킬 필요가 있음
- 몰테일, 몰꼬리, 몰텔 등은 모두 같은 것을 의미함
- punctuation(.,; 등) 제거가 명확하게 이뤄지지 않음 -> 문장 수준에서 분석하는 것이 아니기에 '.'은 제거하자(일단 보류)

In [188]:
import pandas as pd

In [189]:
#데이터 불러오기
dataset = pd.read_excel('dataset3.xlsx')

In [191]:
#기존 데이터 셋에 빈 인덱스 값이 있어 다시 인덱스값 부여
dataset = dataset.reset_index()

In [211]:
dataset.head()

,index,year,month,VoC,keyword
0,0,2014,8,관부가세 납부했는데 낮에 문자 받고 관부가세를 카드로택스에 접속해서 카...,해외직구
1,1,2014,8,10월에 실시하는 위약4 관련해서 중국핸드폰업체들이 바빠지기 시작한 모양이더군요 ...,해외직구
2,2,2014,8,60lb7100 전원안들어와서 as왔다갔네요 어제저녁에갑자기픽하고꺼지더...,해외직구
3,3,2014,8,해외직구 삼성 PDP F8500 모델 안테나 연결 단자 파손 / SOS ...,해외직구
4,4,2014,8,아아 누크 hd도사서 누크hd+랑 세트만들려고하는뎅 누크hd 적당한 매...,해외직구

In [229]:
#몰꼬리->몰테일
text_list=[]
for i in range(0,len(dataset)):
    text = str(dataset.loc[i]['VoC'])
    if '몰꼬리' in text:
        text = text.replace('몰꼬리','몰테일')
        text_list.append(text)
    else:
        text_list.append(text)

In [237]:
#\r -> ''
txt_list=[]
for k in text_list:
    txt = str(k)
    if '\r' in txt:
        txt = txt.replace('\r','')
        txt_list.append(txt)
    else:
        txt_list.append(txt)

In [240]:
#새로운 데이터셋으로 만들기
dataset2 = pd.DataFrame({"index":list(dataset['index']),
                         "year":list(dataset['year']),
                         "month":list(dataset['month']),
                         "VoC":txt_list,
                         "keyword":list(dataset['keyword'])
                        })

In [241]:
dataset2.head()

,VoC,index,keyword,month,year
0,관부가세 납부했는데 낮에 문자 받고 관부가세를 카드로택스에 접속해서 카...,0,해외직구,8,2014
1,10월에 실시하는 위약4 관련해서 중국핸드폰업체들이 바빠지기 시작한 모양이더군요 ...,1,해외직구,8,2014
2,60lb7100 전원안들어와서 as왔다갔네요 어제저녁에갑자기픽하고꺼지더...,2,해외직구,8,2014
3,해외직구 삼성 PDP F8500 모델 안테나 연결 단자 파손 / SOS ...,3,해외직구,8,2014
4,아아 누크 hd도사서 누크hd+랑 세트만들려고하는뎅 누크hd 적당한 매...,4,해외직구,8,2014

In [242]:
#데이터셋 컬럼 원래대로 정렬하기
cols = dataset2.columns.tolist()
cols = ['index','year','month','VoC','keyword']

In [244]:
cols

['index', 'year', 'month', 'VoC', 'keyword']

In [249]:
dataset2 = dataset2[cols]
dataset2.head()

,index,year,month,VoC,keyword
0,0,2014,8,관부가세 납부했는데 낮에 문자 받고 관부가세를 카드로택스에 접속해서 카...,해외직구
1,1,2014,8,10월에 실시하는 위약4 관련해서 중국핸드폰업체들이 바빠지기 시작한 모양이더군요 ...,해외직구
2,2,2014,8,60lb7100 전원안들어와서 as왔다갔네요 어제저녁에갑자기픽하고꺼지더...,해외직구
3,3,2014,8,해외직구 삼성 PDP F8500 모델 안테나 연결 단자 파손 / SOS ...,해외직구
4,4,2014,8,아아 누크 hd도사서 누크hd+랑 세트만들려고하는뎅 누크hd 적당한 매...,해외직구

In [172]:
writer = pd.ExcelWriter('dataset3_prcsing.xlsx', options={'strings_to_urls':False})
dataset2.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
dataset2.loc[54]['VoC']

In [ ]:
cols